<div class="about">
    <style scoped>
        .about {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }
    </style>
    <center>
        <h1>About</h1>
        <p>This site collects the most interesting wikipedia articles,</p>
        <p>and some digital art inspired by each</p>
        <p>operated by Em Rauch</p>
        <br>
        <h1>Medium</h1>
        The artwork is produced first as an ink or watercolor sketch,
        digitally bashed around, and then iteratively edited with a GAN neural network.
        <br>
    </center>
</div>