<div class="posts">
<style scoped>
    .post {
            margin-bottom: 50px;
    }
</style>
{{#header}}
    <h1>{{.}}</h1>
{{/header}}
{{#posts}}
<div class="post">
    <h2><a href={{{wikilink}}}>{{wiki_displaylink}}</a></h2>
    <div class="subtitle">
        <a href="/by/date/{{date}}.html">{{shortdate}}</a>
        •
        <span class="tags">
            {{#tag}}
                <a href="/by/tag/{{.}}.html">#{{.}}</a>
            {{/tag}}
        </span>
    </div>
    <div class="sketch">
        <a href={{{img}}}><img src={{{img}}} width=350></a>
    </div>
    <div class="desc">{{#text}}<p>{{.}}</p>{{/text}}</div>
</div>
{{/posts}}
</div>