<div class="posts">
<style scoped>
    .posts {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .posts .post {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 25px;
        width: 400px;
        border: 1px solid #d8b384;
        border-radius: 15px;
        text-align: center;
    }
    .desc, .wikilink {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
    .desc {
        display: flex;
        flex-flow: column;
        justify-content: center;
        flex-grow: 1;
        margin: 20px 5px;
    }
    .subtitle {
        font-size: 25px;
    }
    .posts hr {
        border: 0;
        height: 1px;
        background-color: #d8b384;
        width: 100%;
        margin-bottom: 10px;
    }
</style>
{{#header}}
    <h1>{{.}}</h1>
{{/header}}
{{#posts}}
<div class="post">
        <h2>{{name}}</h2>
        {{#img}}
        <div class="sketch">
            <img src="{{{.}}}" width=400 height=400 />
        </div>
        {{/img}}
        {{^img}}
            <hr/>
        {{/img}}
        {{#wikilink}}
        <div class="wikilink">
            <a href={{{.}}}>Wikipedia Link</a>
            <br>
            <a href="/by/tag/{{tag}}.html">#{{tag}}</a>
        </div>
        {{/wikilink}}
        <div class="desc">
            <div>
                {{#text}}<p>{{.}}</p>{{/text}}
                {{#text_html}}<p>{{{.}}}</p>{{/text_html}}
            </div>
        </div>
</div>
{{/posts}}
</div>