<div class="posts">
<style scoped>
    .posts {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .post {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 0 50px 50px;
        width: 400px;
        height: 550px;
        border: 1px solid #777;
        text-align: center;
    }
    .desc {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        flex-grow: 1;
    }
    .sketch {
        margin-top: 10px;
    }
    .subtitle {
        font-size: 25px;
    }
</style>
{{#header}}
    <h1>{{.}}</h1>
{{/header}}
{{#posts}}
<div class="post">
        <h2>{{name}}</h2>
        <div class="subtitle">
            <a href={{{wikilink}}}>Wikilink</a>
            •
            <a href="/by/date/{{date}}.html">{{shortdate}}</a> 
            •
            <span class="tags">
                {{#tag}}
                    <a href="/by/tag/{{.}}.html">#{{.}}</a>
                {{/tag}}
            </span>
        </div>
        <div class="sketch">
            <a href="{{{img}}}"><img src="{{{img}}}" width=400 height=264/></a>
        </div>
        <div class="desc">
            <div>
                {{#text}}<p>{{.}}</p>{{/text}}
            </div>
        </div>
</div>
{{/posts}}
</div>